<div class="edit-product-form-container">
    <h3 class="products-title">{{title}}</h3>
    <form class="edit-product-form" [formGroup]="editTaxType" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Tax type</mat-label>
            <mat-select [(value)]="selected" formControlName="tax_type_id">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let taxTypeData of taxTypes" [value]="taxTypeData['id']">{{taxTypeData['tax_type']}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Validity</mat-label>
            <input matInput type="text" formControlName="tax_type_validity">
            <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cost</mat-label>
            <input matInput type="number" formControlName="tax_cost">
            <mat-error>Required</mat-error>
        </mat-form-field>
        <section class="status-radio-button-container">
            <label>Status:</label>
            <mat-radio-group formControlName="tax_type_status">
              <mat-radio-button class="status-radio-button" [value]=1>Active</mat-radio-button>
              <mat-radio-button class="status-radio-button" [value]=0>Inactive</mat-radio-button>
            </mat-radio-group>
          </section>
        <div class="button-container">
            <button type="button" (click)="onCancel()" mat-stroked-button color="primary">Cancel</button>
            <button type="submit" mat-stroked-button color="primary" [disabled]="!editTaxType.valid">Save</button>
        </div>
    </form>
</div>