<div class="container">
    <h1 class="products-title">Tax data</h1>
    <button class="add-product-button" type="button" (click)="addTaxData()" mat-stroked-button color="primary"><mat-icon>add</mat-icon> Add new tax data</button>
    <div class="mat-elevation-z8">
      <mat-form-field appearance="outline">
        <mat-label>Search tax data</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tax data" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax type </th>
          <td mat-cell *matCellDef="let element"><span
              class="title">{{element.id}}</span></td>
        </ng-container>
        
        <ng-container matColumnDef="Validity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Validity </th>
            <td mat-cell *matCellDef="let element"><span
                class="title">{{element.tax_type_validity}}</span></td>
          </ng-container>
  
        <ng-container matColumnDef="Bus number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration number </th>
          <td mat-cell *matCellDef="let element">{{element.reg_no}}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="From date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> From date </th>
          <td mat-cell *matCellDef="let element">{{element.tax_type_submission_start_date}}
          </td>
        </ng-container>

        <ng-container matColumnDef="to date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> To date </th>
            <td mat-cell *matCellDef="let element">{{element.tax_type_submission_end_date}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Reading">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reading </th>
            <td mat-cell *matCellDef="let element">{{element.vehicle_meter_reading}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
            <td mat-cell *matCellDef="let element">{{element.tax_type_amount}}
            </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="Edit tax data" matTooltipPosition="after"
              (click)="editTaxData(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Delete tax" matTooltipPosition="after"
              (click)="deleteTaxData(element.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  