<!-- <div class="container">
    <div class="graph">
        <h2>Bar Chart</h2>
        <div id="bar"></div>
    </div>
    <div class="graph">
        <h2>Pie Chart</h2>
        <div id="pie"></div>
    </div>
    <div class="graph">
        <h2>Scatter Plot</h2>
        <div id="scatter"></div>
    </div>
    <div class="graph">
        <h2>Bar Chart</h2>
        <div id="bar1"></div>
    </div>
</div> -->

<div class="container">
    <ng-container *ngIf="dashboardDataKeys">
        <ng-container *ngFor="let dashboardDataKey of dashboardDataKeys">
            <h1 class="products-title">{{dashboardDataKey}}</h1>
            <div class="mat-elevation-z8">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Search Product</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Interior" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field> -->
            <table mat-table [dataSource]="dashboardData[dashboardDataKey]" matSort>
                <ng-container matColumnDef="Reg number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg number </th>
                <td mat-cell *matCellDef="let element"><span
                    class="title">{{element.reg_no}}</span></td>
                </ng-container>
        
                <ng-container matColumnDef="Start date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date </th>
                <td mat-cell *matCellDef="let element">{{element.tax_type_submission_start_date}}
                </td>
                </ng-container>
        
                <ng-container matColumnDef="End date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End date </th>
                <td mat-cell *matCellDef="let element">{{element.tax_type_submission_end_date}}
                </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
            </table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator> -->
            </div>
        </ng-container>
    </ng-container>
  </div>
  
