<div class="edit-product-form-container">
    <h3 class="products-title">{{title}}</h3>
    <form class="edit-product-form" [formGroup]="editPartTypeData" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Part type</mat-label>
            <mat-select [(value)]="selectedPartType" formControlName="part_type_master_id">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let partType of partTypes" [value]="partType['id']">{{partType['part_type']}} - {{partType['part_type_body']}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Bus registration number</mat-label>
            <mat-select [(value)]="selectedRegNo" formControlName="reg_no">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let registrationNumber of registrationNumbers" [value]="registrationNumber['Reg_no']">{{registrationNumber['Reg_no']}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cost</mat-label>
            <input matInput type="number" formControlName="part_type_amount">
            <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="part_type_quantity">
            <mat-error *ngIf="editPartTypeData?.get('part_type_quantity')?.hasError('required')">Required</mat-error>
            <mat-error *ngIf="editPartTypeData?.get('part_type_quantity')?.hasError('inQuantity')">Quantity should be less than {{availableQuantity}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Quantity type</mat-label>
            <mat-select formControlName="part_type_unit">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let quantityType of quantityTypes" [value]="quantityType">{{quantityType}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field class="date-input" appearance="outline">
            <mat-label>Choose fixing date</mat-label>
            <input matInput formControlName="part_type_fixing_date" [matDatepicker]="frompicker">
            <mat-datepicker-toggle matIconSuffix [for]="frompicker"></mat-datepicker-toggle>
            <mat-datepicker #frompicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="date-input" appearance="outline">
            <mat-label>Choose expiry date</mat-label>
            <input matInput formControlName="part_type_expiry_date" [matDatepicker]="topicker">
            <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
            <mat-datepicker #topicker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="editPartTypeData.errors && editPartTypeData.errors['dateValid'] && (editPartTypeData.touched ||editPartTypeData.dirty)">End date should be greater than start date</mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Current reading</mat-label>
            <input matInput type="text" formControlName="vehicle_meter_reading">
            <mat-error>Required</mat-error>
        </mat-form-field>
        <div class="button-container">
            <button type="button" (click)="onCancel()" mat-stroked-button color="primary">Cancel</button>
            <button type="submit" mat-stroked-button color="primary" [disabled]="!editPartTypeData.valid">Save</button>
        </div>
    </form>
</div>